.home-container {
  width: 20rem;
  margin: 0 auto;
}

.home-title {
  font-size: 3rem;
}

.home-inputs {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}

.home-actions-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
